<%-include('../layouts/adminPartials/adminHeader.ejs') %>


<div style="min-height: 100vh ;">
    <DIV class="d-flex justify-content-center fw-bold text-dark h1 pt-5 mt-5">Admin Home</h1></DIV><h1>
</div>



<%-include('../layouts/adminPartials/footer.ejs') %>

