<%-include('../layouts/adminPartials/adminHeader.ejs') %>
<% if (databaseError.length>0){ %>
    <div id="error" class="alert alert-danger d-flex justify-content-center align-items-center  sticky-top z-1  " role="alert">
           <%= databaseError %>
    </div>

<% } %>


<div style="min-height: 100vh ;">
    <DIV class="d-flex justify-content-center fw-bold text-dark h1 pt-5 mt-5">Admin Home</h1></DIV><h1>
</div>



<%-include('../layouts/adminPartials/footer.ejs') %>

