  <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="fa-solid fa-bars"></i>
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="background: #94260E;">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">AdminDashboard</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background: #EFD2AF;" >
      <div>
        
          <a class="fw-bold btn btn-outline-danger d-flex" href="/admin">HOME</a><hr style="color: #94260E;">
          <a class="fw-bold btn btn-outline-danger d-flex"  href="/admin/product">PRODUCTS</a><hr style="color: #94260E;">
          <a class="fw-bold btn btn-outline-danger d-flex" href="/admin/category">CATEGORY</a><hr style="color: #94260E;">
          <a class="fw-bold btn btn-outline-danger d-flex" href="#">DUMMY</a><hr style="color: #94260E;">
          <a class="fw-bold btn btn-outline-danger d-flex" href="#">DUMMY</a><hr style="color: #94260E;">
          <a class="fw-bold btn btn-outline-dark d-flex" href="/logout">Log out</a><hr style="color: #94260E;">
        
        
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>